.menuImage{
    width: 50px;
}

.closeIcon{
    width: 25px;
}

/* styles.css or a similar CSS file */

.navbar-collapse {
    position: fixed;
    top: 0;
    right: -100%; /* Hide off-screen to the right */
    height: 100%;
    width: 50%; /* Adjust width as needed */
    background-color: white;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.8s ease-out;
    z-index: 1050;
  }
  
  .navbar-collapse.show {
    right: 0; /* Slide in */
  }

  .navbarItems{
    transition: scale 0.3s ease-out;
  }
  .navbarItems:hover{
    border-bottom: 2px solid rgb(185, 180, 180);
    border-top: 2px solid rgb(185, 180, 180);
    scale: 1.05;
  }
  