.menuImage{
    width: 50px;
    cursor: pointer;
}

.closeIcon{
    width: 25px;
    cursor: pointer;
}
/* Header.css */


.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 200px;
  background-color: white;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
  display: none;
}

.mobile-menu.show {
  transform: translateX(0);
  display: block;
}


  .navbarItems{
    transition: scale 0.3s ease-out;
  }
  .navbarItems:hover{
    border-bottom: 2px solid rgb(185, 180, 180);
    border-top: 2px solid rgb(185, 180, 180);
    scale: 1.05;
  }
  