
@keyframes slideright{
    0% {
      width: 0px;
    }
    100%{
      width : 208px;
    }
  }

  @keyframes slideLeft{
   
    100%{
      width : 208px;
    }
    0% {
        width: 0px;
      }
  }


  .navbarcontReverse{
    animation: slideright 1s backwards;
}

.navbarcontForward{
    animation: slideLeft 1s backwards;
}

.animation{
  opacity: 0;
  transform: translateY(115px);
  transition: all  1s ease;
}

.showAnimation{
  opacity: 1;
  transform: translateY(0);
}